.admin-log-in-page{
    background-image: url('../assets/admin_login_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-log-in-container{
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.511);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}
.admin-log-in-container:hover{
    background-color: rgba(255, 255, 255, 0.611);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}
.admin-log-in-details{
    max-width: 450px;
    float: left;
    margin-left: 25px;
}
.admin-log-in-alternative-login{
    max-width: 450px;
    float: right;
    text-align: center;
    margin-left: 100px;
    margin-top: 100px;
}
.admin-log-in-statment{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.admin-log-in-request-access{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}
.request-access-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    margin-left: 10px;
}
.admin-log-in-header{
    margin-bottom: 66px;
}
.admin-log-in-email-input{
    display: block;
    padding: 10px 10px;
    padding-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
.admin-log-in-password-input{
    display: block;
    padding: 10px 10px;
    padding-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;   
}
.admin-log-in-submit-btn{
    margin-top: 20px;
    padding: 12px 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 20px;
    color: navy;
    background-color: rgba(255, 255, 255, 0.538);
    margin-left: 50px;
    cursor: pointer;
}
.admin-log-in-footer{
    margin-top: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.admin-log-in-alternative-statement{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}
.admin-log-in-alternative-login-image{
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 10px;
}