body {
    background-image: url('../src/assets/background.png');
    background-size: cover;       /* makes the image fill the screen */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
    height: 100vh;                /* ensures it covers the full viewport */
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0%;
    left: 0%;
    right:0%;
    height: 65px;
    margin-top: 5px;
}
.header.left-section{
    display: inline-block;
    max-width: 208px;
}
@media (max-width: 800px){
    .header.header.left-section{
        width:unset;
    }
}

.header-link{
    display: inline-block;
    padding: 6px 9.5px;
    text-decoration: none;
    margin-left: 40px;
}
.header-link:hover {
  border: 1px solid white;
}
.header .logo {
  height: 26px;
  margin-top: 1px;
}
.middle-section{
    margin-left: 25px;
}

.middle-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.348);
}
.link-element{
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link-element:hover{
    color: rgb(33, 33, 237);
}

hr{
    border: none;
    height: 1.5px;
    background-color: whitesmoke;
    margin: 0;
}

.slogan-container{
    margin-top: 25px;
    margin-left: 50px;
    max-width: 150px;
}
.slogan{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.348);
}
.main{
    max-width: 50%;
    float: left;
    margin-top: 15px;
}
.conclusion{
    max-width: 50%;
    float: right;
    margin-top: 15px;
}
.into-statement{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:35px;
    color: rgb(251, 249, 249);
    margin-left: 50px;
    margin-top: 125px;
}
.conclusion-statement{
    margin-top: 230px;
    margin-right: 45px;
    max-width: 330px;
    color: rgb(251, 249, 249);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.try-button{
    background-color: white;
    color: rgba(0, 0, 0, 0.918);
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    cursor: pointer;
}
.arrow-button{
    padding: 9px;
    padding-right: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.try-button:hover{
    color: white;
    background-color: black;
}
.arrow-button:hover{
    color: white;
    background-color: black;
}