body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
}
.sign-in-format{
    max-width: 50%;
    background-color: whitesmoke;
    float: left;
    width: 50%;
    text-align: center;
    height: 100vh;
}

.user-log-in-h1{
    margin-top: 40px;
    font-size: 35px;
}
.alernative-login{
    margin-top: 45px;
}
.login-image{
    margin: 12px;
}
.logo{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.p-sentence{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.user-input{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color:rgba(215, 190, 190, 0.81);
    padding: 10px;
    margin-left: 150px;
    margin-bottom: 15px;
    padding-right: 150px;
}
.user-register-link-contain{
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.user-register-link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
.user-register-link:hover{
    color: rgba(64, 64, 220, 0.893);
}
.user-signin-btn{
    margin-top: 10px;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    
}
.user-signin-btn:hover{
    background-color: rgba(0, 0, 0, 0.776);
}

.sign-up-format{
    max-width: 50%;
    float: right;
    background-color: aqua;
    width: 50%;
    height: 100vh;
    text-align: center;
    color: white;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
.greeting-container{
    margin-top: 200px;
}
.greeting-sentence{
    margin-bottom: 20px;
}
.greeting-description{
    max-width: 300px;
    margin-left: 175px;
    font-size: 18px;
}
.sign-up-btn{
    padding: 12px 24px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: aqua;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.sign-up-btn:hover{
    color: aqua;
    background-color: white;
    border: 1px solid aqua;
}