body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sign-in-format{
    max-width: 50%;
    background-color: whitesmoke;
    float: left;
    width: 50%;
    text-align: center;
    height: 100vh;
}
.sign-up-format{
    max-width: 50%;
    float: right;
    background-color: aqua;
    width: 50%;
}
h1{
    margin-top: 120px;
}
.login-image{
    margin: 12px;
}
.logo{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.email-form{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color:rgba(215, 190, 190, 0.81);
    padding: 10px;
    margin-left: 150px;
    padding-right: 150px;
    margin-bottom: 15px;
}
.p-sentence{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.password-form{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color:rgba(215, 190, 190, 0.81);
    padding: 10px;
    margin-left: 150px;
    margin-bottom: 15px;
    padding-right: 150px;
}
.forgot-container{
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.forgot-link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
.forgot-link:hover{
    color: rgba(64, 64, 220, 0.893);
}
.sign-in-btn{
    margin-top: 10px;
    padding: 12px 24px;
}